In [1]:
%load_ext sql

In [2]:
%sql sqlite:///pandas-sql.db

In [3]:
%pip install sqlite3

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
%%sql
CREATE TABLE IF NOT EXISTS employees (
    employee_id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    department VARCHAR(50),
    salary DECIMAL(10, 2) NOT NULL
);

 * sqlite:///pandas-sql.db
Done.

[]

In [6]:
%%sql
ALTER TABLE employees
ADD hire_date DATE;

ALTER TABLE employees
ADD performance_rating INT;

INSERT INTO employees (employee_id, first_name, last_name, department, salary, hire_date, performance_rating) 
VALUES (1, 'John', 'Doe', 'Sales', 50000.00, '2024-04-23', 3);

INSERT INTO employees (employee_id, first_name, last_name, department, salary, hire_date, performance_rating) 
VALUES (2, 'Jane', 'Smith', 'Marketing', 55000.00, '2024-04-25', 4);

INSERT INTO employees (employee_id, first_name, last_name, department, salary, hire_date, performance_rating) 
VALUES (3, 'Michael', 'Johnson', 'Sales', 60000.00, '2024-04-26', 5);

INSERT INTO employees (employee_id, first_name, last_name, department, salary, hire_date, performance_rating) 
VALUES (4, 'Emily', 'Davis', 'Operations', 62000.00, '2024-04-27', 2);

INSERT INTO employees (employee_id, first_name, last_name, department, salary, hire_date, performance_rating) 
VALUES (5, 'David', 'Wilson', 'Operations', 58000.00, '2024-04-28', 1);

 * sqlite:///pandas-sql.db
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [7]:
%sql SELECT * FROM employees;

 * sqlite:///pandas-sql.db
Done.

[(1, 'John', 'Doe', 'Sales', 50000, '2024-04-23', 3),
 (2, 'Jane', 'Smith', 'Marketing', 55000, '2024-04-25', 4),
 (3, 'Michael', 'Johnson', 'Sales', 60000, '2024-04-26', 5),
 (4, 'Emily', 'Davis', 'Operations', 62000, '2024-04-27', 2),
 (5, 'David', 'Wilson', 'Operations', 58000, '2024-04-28', 1)]

In [8]:
%pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/22/a5/a0b255295406ed54269814bc93723cfd1a0da63fb9aaf99e1364f07923e5/pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata
  Using cached pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Obtaining dependency information for numpy>=1.26.0 from https://files.pythonhosted.org/packages/ad/9c/4a93b8e395b755c53628573d75d7b21985d9a0f416e978d637084ccc8ec3/numpy-2.0.0-cp312-cp312-win_amd64.whl.metadata
  Downloading numpy-2.0.0-cp312-cp312-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.9 kB ? eta -:--:--
     ------------ ------------------------- 20.5/60.9 kB 217.9 kB/s eta 0:00:01
     ------------------------- ------------ 41.0/60.9 kB 393.8 kB/s eta 0:00:01
     -------------------------------------- 60.9/60.9 kB 538.9 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lettush\desktop\dpt01\venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/9c/3d/a121f284241f08268b21359bd425f7d4825cffc5ac5cd0e1b3d82ffd2b10/pytz-2024.1-py2.py3-none-any.whl.metadata
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Obtaining dependency information for tzdata>=2022.7 from https://files.pythonhosted.org/packages/65/58/f9c9e6be752e9fcb8b6a0ee9fb87e6e7a1f6bcab2cdc73f02bb7ba91ada0/tzdata-2024.1-py2.py3-none-any.whl.metadata
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\lettush\desktop\dpt01\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
Downloading numpy-2.0.0-cp312-cp312-win_amd64.whl (16.2 MB)
   ---------------------------------------- 0.0/16.2 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.2 MB 16.0 MB/s eta 0:00:01
   -- ------------------------------------- 0.9/16.2 MB 9.7 MB/s eta 0:00:02
   --- ------------------------------------ 1.5/16.2 MB 10.5 MB/s eta 0:00:02
   ---- ----------------------------------- 2.0/16.2 MB 11.6 MB/s eta 0:00:02
   ------ --------------------------------- 2.5/16.2 MB 11.4 MB/s eta 0:00:02
   ------- -------------------------------- 3.0/16.2 MB 11.2 MB/s eta 0:00:02
   -------- ------------------------------- 3.5/16.2 MB 11.2 MB/s eta 0:00:02
   --------- ------------------------------ 4.0/16.2 MB 11.1 MB/s eta 0:00:02
   ----------- ---------------------------- 4.6/16.2 MB 11.2 MB/s eta 0:00:02
   ------------ --------------------------- 5.1/16.2 MB 11.2 MB/s eta 0:00:01
   ------------- -------------------------- 5.7/16.2 MB 11.3 MB/s eta 0:00:01
   --------------- ------------------------ 6.2/16.2 MB 11.3 MB/s eta 0:00:01
   ---------------- ----------------------- 6.7/16.2 MB 11.2 MB/s eta 0:00:01
   ----------------- ---------------------- 7.2/16.2 MB 11.2 MB/s eta 0:00:01
   ------------------- -------------------- 7.7/16.2 MB 11.2 MB/s eta 0:00:01
   -------------------- ------------------- 8.3/16.2 MB 11.2 MB/s eta 0:00:01
   --------------------- ------------------ 8.8/16.2 MB 11.2 MB/s eta 0:00:01
   ---------------------- ----------------- 9.3/16.2 MB 11.2 MB/s eta 0:00:01
   ------------------------ --------------- 9.7/16.2 MB 11.1 MB/s eta 0:00:01
   ------------------------- -------------- 10.3/16.2 MB 11.1 MB/s eta 0:00:01
   -------------------------- ------------- 10.9/16.2 MB 11.1 MB/s eta 0:00:01
   ---------------------------- ----------- 11.4/16.2 MB 11.3 MB/s eta 0:00:01
   ----------------------------- ---------- 11.9/16.2 MB 11.3 MB/s eta 0:00:01
   ------------------------------ --------- 12.4/16.2 MB 11.1 MB/s eta 0:00:01
   ------------------------------- -------- 12.9/16.2 MB 11.3 MB/s eta 0:00:01
   --------------------------------- ------ 13.5/16.2 MB 11.3 MB/s eta 0:00:01
   ---------------------------------- ----- 14.0/16.2 MB 11.3 MB/s eta 0:00:01
   ----------------------------------- ---- 14.6/16.2 MB 11.3 MB/s eta 0:00:01
   ------------------------------------- -- 15.1/16.2 MB 11.3 MB/s eta 0:00:01
   -------------------------------------- - 15.6/16.2 MB 11.3 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.2 MB 11.3 MB/s eta 0:00:01
   ---------------------------------------- 16.2/16.2 MB 10.7 MB/s eta 0:00:00
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.0.0 pandas-2.2.2 pytz-2024.1 tzdata-2024.1

In [2]:
import sqlite3
import pandas as pd

# Create a connection.
conn = sqlite3.connect('pandas-sql.db')
df = pd.read_sql_query("SELECT * FROM employees", conn)

# Insert pandas code

# (Optional)
conn.commit()
conn.close()

df

,employee_id,first_name,last_name,department,salary,hire_date,performance_rating
0,1,John,Doe,Sales,50000,2024-04-23,3
1,2,Jane,Smith,Marketing,55000,2024-04-25,4
2,3,Michael,Johnson,Sales,60000,2024-04-26,5
3,4,Emily,Davis,Operations,62000,2024-04-27,2
4,5,David,Wilson,Operations,58000,2024-04-28,1